html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}


.upload-btn {
    background-color: #4ade80; 
    color: #0f172a; 
    border: none; 
    padding: 15px 30px; 
    font-size: 1.2rem; 
    border-radius: 8px; 
    cursor: pointer; 
    margin-top: 20px; 
    font-weight: bold;
    transition: transform 0.1s ease;
}

.upload-btn:active {
    transform: scale(0.95);
}
